.half-column {
  width: 100%;
  border: 1px solid black; }

@media only screen and (min-width: 1200px) {
  .half-column {
    max-width: 560px; } }

@media only screen and (max-width: 992px) {
  .half-column {
    max-width: 480px; } }

@media only screen and (max-width: 768px) {
  .half-column {
    max-width: 384px; } }

@media only screen and (max-width: 576px) {
  .half-column {
    max-width: 270px; } }

.navbar {
  margin-bottom: 0px;
  border-bottom: 0px; }

span.info {
  display: block;
  color: #28232d;
  font-family: "Fira Sans Bold";
  font-size: 24px;
  line-height: 33px;
  letter-spacing: -0.48px;
  padding-left: 30px;
  border-left: 4px solid #A0EC00;
  margin: 20px 0; }

.header-price {
  width: 100%;
  min-height: 700px;
  display: grid;
  grid-template-areas: "a b" "a c" "a d";
  grid-template-rows: 70px 1fr 1fr;
  grid-template-columns: 50% 50%; }
  .header-price .left-side {
    grid-area: a;
    background-image: url("../img/building/bg_build.png");
    background-size: cover;
    display: flex;
    display: -webkit-flex;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    align-items: center; }
    .header-price .left-side .header-price-bloc {
      display: flex;
      display: -webkit-flex;
      flex-direction: column;
      align-items: center; }
      .header-price .left-side .header-price-bloc span {
        display: block;
        padding: 25px 20px;
        background-color: #5aca00;
        width: 100%;
        text-align: center;
        color: white; }
      .header-price .left-side .header-price-bloc .transpared {
        background-color: rgba(0, 0, 0, 0.6); }
  .header-price .os-caption {
    grid-area: b;
    min-height: 75px;
    width: 100%;
    background-color: #28232d;
    display: flex;
    align-items: center;
    padding-left: 11%; }
    .header-price .os-caption a {
      color: white;
      text-decoration: none; }
  .header-price .head-contacts {
    grid-area: c;
    width: 100%;
    background-color: #f1f1f2;
    padding-left: 11%; }
  .header-price .header-info {
    grid-area: d;
    width: 100%; }
    .header-price .header-info > div {
      padding-left: 11%; }

.active-images {
  width: 100%;
  min-height: 100px;
  box-sizing: border-box;
  display: flex;
  justify-content: stretch;
  align-items: stretch; }
  .active-images .active-item {
    box-sizing: border-box;
    cursor: zoom-in;
    width: 100%;
    position: relative; }
    .active-images .active-item .action-icon {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      color: white;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: 2;
      animation: slide-up-fade-in ease 0.6s;
      animation-iteration-count: 1;
      transform-origin: 50% 50%;
      animation-fill-mode: forwards;
      -webkit-animation: slide-up-fade-in ease 0.6s;
      -webkit-animation-iteration-count: 1;
      -webkit-transform-origin: 50% 50%;
      -webkit-animation-fill-mode: forwards; }
    .active-images .active-item:hover .action-icon {
      display: flex; }
    .active-images .active-item:hover:before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.3);
      top: 0;
      left: 0; }

@keyframes slide-up-fade-in {
  0% {
    opacity: 0;
    transform: translate(0px, 40px); }
  100% {
    opacity: 1;
    transform: translate(0px, 0px); } }

@-webkit-keyframes slide-up-fade-in {
  0% {
    opacity: 0;
    -webkit-transform: translate(0px, 40px); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px); } }

.os-dark {
  background-color: #28232d;
  width: 100%; }

.os-grey {
  background-color: #f1f1f2;
  width: 100%; }
