//@import "style";
.half-column{
  width: 100%;
  border: 1px solid black;
}
@media only screen and (min-width:1200px){
  .half-column{
    max-width: 560px;
  }
}
@media only screen and (max-width:992px){
  .half-column{
    max-width: 480px;
  }
}
@media only screen and (max-width:768px){
  .half-column{
    max-width: 384px;
  }
}
@media only screen and (max-width:576px){
  .half-column{
    max-width: 270px;
  }
}

.navbar{
  margin-bottom: 0px;
  border-bottom: 0px;
}

span.info{
  display: block;
  color: #28232d;
  font-family: "Fira Sans Bold";
  font-size: 24px;
  line-height: 33px;
  letter-spacing: -0.48px;
  padding-left: 30px;
  border-left: 4px solid #A0EC00;
  margin: 20px 0;
}

//.grid-root{
//  min-height: 500px;
//  width: 100%;
//  & > *{
//    border: 1px solid black;
//  }
//  display: grid;
//  grid-template-areas: "a b" "a c" "a d";
//  grid-template-rows: 70px 1fr 1fr;
//  grid-template-columns: 50% 50%;
//  .grid-left{
//    grid-area: a;
//  }
//  .grid-right-top{
//    grid-area: b;
//    //height: 70px;
//  }
//  .grid-right-center{
//    grid-area: c;
//  }
//  .grid-right-bottom{
//    grid-area: c;
//  }
//}

.header-price {
  width: 100%;
  min-height: 700px;
  //display: flex;
  //display: -webkit-flex;
  display: grid;
  grid-template-areas: "a b" "a c" "a d";
  grid-template-rows: 70px 1fr 1fr;
  grid-template-columns: 50% 50%;

  .left-side {
    grid-area: a;
    background-image: url('../img/building/bg_build.png');
    background-size: cover;
    //width: 50%;
    //height: 100%;
    //min-height: 700px;
    display: flex;
    display: -webkit-flex;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    align-items: center;
    .header-price-bloc {
      display: flex;
      display: -webkit-flex;
      flex-direction: column;
      align-items: center;
      span {
        display: block;
        padding: 25px 20px;
        background-color: #5aca00;
        width: 100%;
        text-align: center;
        color: white;
      }
      .transpared {
        background-color: rgba(0, 0, 0, 0.6);
      }
    }
  }
  //.right-side {
  //  width: 50%;
  //  height: 100%;
  //  //background-color: red;
  //  min-height: 700px;
  //  //display: flex;
  //  //display: -webkit-flex;
  //  //flex-direction: column;
  //  display: flex;
  //  flex-direction: column;
  //  justify-content: flex-start;
  //  align-items: stretch;
  //  align-content: stretch;
    .os-caption {
      grid-area: b;
      min-height: 75px;
      width: 100%;
      background-color: #28232d;
      display: flex;
      align-items: center;
      padding-left: 11%;
      a {
        color: white;
        text-decoration: none;
      }
    }
    .head-contacts {
      grid-area: c;
      width: 100%;
      background-color: #f1f1f2;
      padding-left: 11%;
      //flex: 1;
    }
    .header-info {
      grid-area: d;
      width: 100%;
      //flex: 1;
      & > div {
        //flex: 1;
        padding-left: 11%;
      }
    }
  //}
}

.active-images{
  width: 100%;
  min-height: 100px;
  box-sizing: border-box;
  //border: 1px solid;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  .active-item{
    box-sizing: border-box;
    //border: 1px solid;
    cursor: zoom-in;
    width: 100%;
    position: relative;
    .action-icon{
      display: none;
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
      color: white;
      //display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: 2;

      animation: slide-up-fade-in ease 0.6s;
      animation-iteration-count: 1;
      //animation-delay: 0.6s;
      transform-origin: 50% 50%;
      animation-fill-mode:forwards;
      -webkit-animation: slide-up-fade-in ease 0.6s;
      -webkit-animation-iteration-count: 1;
      -webkit-transform-origin: 50% 50%;
      -webkit-animation-fill-mode:forwards;
      //-webkit-animation-delay: 0.6s;
    }
    &:hover{
      .action-icon{
        display: flex;
      }
      &:before{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(0,0,0,0.3);
        top:0;
        left: 0;
        //z-index: 1;
      }
    }
  }
}


@keyframes slide-up-fade-in{
  0% {
    opacity:0;
    transform:  translate(0px,40px)  ;
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px)  ;
  }
}

@-webkit-keyframes slide-up-fade-in {
  0% {
    opacity:0;
    -webkit-transform:  translate(0px,40px)  ;
  }
  100% {
    opacity:1;
    -webkit-transform:  translate(0px,0px)  ;
  }
}

.os-dark{
  background-color: #28232d;
  width: 100%;
}

.os-grey{
  background-color: #f1f1f2;
  width: 100%;
}