@font-face {
  font-family: 'Fira Sans Bold';
  src: url('../fonts/Fira_sans_Googlewebfonts/FiraSans-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Fira Sans Medium';
  src: url('../fonts/Fira_sans_Googlewebfonts/FiraSans-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Fira Sans Regular';
  src: url('../fonts/Fira_sans_Googlewebfonts/FiraSans-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Glober Black Black';
  src: url('../fonts/Glober/Glober-Black.otf');
  font-weight: 700;
}

@font-face {
  font-family: 'Fira Sans Medium Italic';
  src: url('../fonts/Fira_sans_Googlewebfonts/FiraSans-MediumItalic.ttf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Fira Sans Medium Italic';
  src: url('../fonts/Fira_sans_Googlewebfonts/FiraSans-MediumItalic.ttf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Fira Sans Italic';
  src: url('../fonts/Fira_sans_Googlewebfonts/FiraSans-Italic.ttf');
  font-weight: 500;
  font-style: italic;
}

$fira-sans-bold: "Fira Sans Bold";
$fira-sans-medium: "Fira Sans Medium";
$fira-sans-medium-italic: "Fira Sans Medium Italic";
$fira-sans-italic: "Fira Sans Italic";
$fira-sans-regular: "Fira Sans Regular";
$glober-black-black: "Glober Black Black";
$light-green: #5aca00;

h1{
  color: #221e26;
  font-family: $fira-sans-bold;
  font-size: 40px;
  line-height: 45px;
}

h2{
  color: #28232d;
  font-family: $fira-sans-bold;
  font-size: 24px;
  line-height: 33px;
}

h3{
  color: #221e26;
  font-family: $fira-sans-bold;
  font-size: 22px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}

h4{
  color: #28232d;
  font-family: $fira-sans-medium;
  font-size: 18px;
  line-height: 25px;
}

h5{
  color: #28232d;
  font-family: $fira-sans-bold;
  font-size: 14px;
  line-height: 25px;
}

p{
  color: #28232d;
  font-family: $fira-sans-regular;
  font-size: 14px;
  line-height: 23px;
}

.header-frame{
  position: relative;
  margin: 50px 0;
    &:before{
      content: '';
      background-image: url(../img/before.png);
      width: 20%;
      height: 7px;
      position: absolute;
      opacity: 0.4;
      left: 20%;
      top: 8px;
    }

    &:after{
      content: '';
      background-image: url(../img/before.png);
      width: 20%;
      height: 7px;
      position: absolute;
      opacity: 0.4;
      right: 20%;
      top: 8px;
    }
}

.header-frame-after{
  position: relative;
  text-align: left;
    &:after{
      content: '';
      background-image: url(../img/before.png);
      height: 7px;
      position: absolute;
      opacity: 0.4;
      top: 8px;
      right: 0;
      width: 70%;
    }

}

.nav>li>a{
  color: #343740;
  font-family:$fira-sans-regular;
  font-size: 15px;
}

.nav>li.active>a, .nav>li>a:hover{
  color: #5aca00;
  border-bottom: 2px solid $light-green;
  background: none;
}

.social-menu{
  padding: 15px;
}

.social-menu>li>a, .social-menu>li>a:hover{
  color: #4a4f5c;
  font-size: 16px;
  font-weight: 400;
  background: none;
  border: none;
}

.social-menu>li>a:hover{
  opacity: 0.8;
}

.social-menu>li:nth-last-child(2){
  color: #8c8f99;
  padding: 0px 15px;
}

.social-menu>li:last-child{
  padding: 0px 0px 0px 45px;
  color: #4a4f5c;
  line-height: 16px;
  font-family: $glober-black-black;
  font-size: 20px;
  line-height: 20px;
  border-left: 1px solid #8c8f99;
}

.social-menu>li:last-child:before{
  content: url(../img/phone.png);
  position: absolute;
  left: 20px;
  top: 2px;
}

footer{
    background: #28232D;
    .bottom-footer{
      padding: 40px 0 80px;

    }
    .navbar-center{
      float:none;
      margin:0 auto;
      display: block;
      text-align: center;
      border-bottom: 1px solid #3E3942;
      li{
        display: inline-block;
        float:none;
        a{
          color: #ffffff;
          font-size: 14px;
          line-height: 45px;
          border: none;
          &:hover{
            border: none;
            color: #ccc;
          }
        }
      }
    }
    .first-block{
      img, p{
        display: inline-block;
        float: left;
      }
      p{
        color: #8c8f99;
        font-size: 13px;
        line-height: 21px;
        letter-spacing: -0.26px;
        margin-left: 30px;
      }
    }
    .social-footer{
        padding: 0;
        li{
          display: inline-block;
          a{
            color: #28232d;
            background: #fff;
            border-radius: 20px;
            font-size: 16px;
            height: 28px;
            width: 28px;
            display: block;
            text-align: center;
            padding-top: 3px;
            margin: 5px;
            &:hover{
              opacity: 0.8;
            }
          }
      }
    }

    .contact-footer{
      list-style: none;
      text-align: right;
      li{
        display: inline-block;
        float: left;
      }
      >li:nth-last-child(2){
        color: #8c8f99;
        font-size: 13px;
        padding-right: 10px;
      }
      >li:last-child{
        padding: 0px 0px 0px 30px;
        color: #fff;
        line-height: 16px;
        font-family: $glober-black-black;
        font-size: 20px;
        line-height: 20px;
        border-left: 1px solid #8c8f99;
        position: relative;
      }
      >li:last-child:before{
        content: url(../img/phone.png);
        position: absolute;
        left: 10px;
        top: 2px;
      }
    }
}

.home{
  .second-section{
    .upper-letter::first-letter{
      font-size: 25px;
      letter-spacing: -0.5px;
      font-family: $fira-sans-bold;
    }

    .upper-letter>span{
      display: block;
      color: #28232d;
      font-family: $fira-sans-bold;
      font-size: 24px;
      line-height: 33px;
      letter-spacing: -0.48px;
      padding-left: 30px;
      border-left: 4px solid #A0EC00;
      margin: 35px 0;
    }

    img{
      max-height: 360px;
      width: auto;
      margin: 5px 0 35px;
    }

    .details{
      color: #28232d;
      font-family: $fira-sans-medium-italic;
      font-size: 16px;
      padding-bottom: 35px;
      border-bottom: 1px solid #F6F6F6;
        cite{
          font-size: 14px;
          letter-spacing: -0.28px;
          line-height: 25px;
          font-family: $fira-sans-italic;
        }
    }

    .details+h3{
      color: #28232d;
      font-family: $fira-sans-bold;
      font-size: 18px;
      letter-spacing: -0.36px;
      line-height: 25px;
      text-align: left;
      text-transform: none;
      margin: 35px 0 15px;
    }

    .bg-image{
      background-image: url('../img/bg1.png');
      background-size: cover;
      margin: 55px 0;
      overflow: hidden;

        .box{
          background-image: url(../img/bg2.png);
          padding: 0;
          height: 240px;
          background-size: cover;

          &:before{
            content: url(../img/before-2.png);
            position: absolute;
            left: -30%;
            bottom: -50px;
          }

          div{
            max-width: 380px;
            width: 100%;
            margin: auto;
            text-align: right;
            margin-top: 50px;

              h3{
                color: #000000;
                font-family: $fira-sans-bold;
                font-size: 19px;
                line-height: 32px;
                text-transform: uppercase;
                letter-spacing: 0.76px;
                text-align: right;
                padding-right: 30px;
              }

              p{
                color: #ffffff;
                font-family:$fira-sans-regular;
                font-size: 16px;
                line-height: 24px;
              }
          }
       }
    }
  }

  .news-section{
    h3{
      padding-left: 40px;
    }

    :first-child section{
      padding-left: 40px;
      position: relative;
      margin: 20px 0;
      font-family:$fira-sans-regular;

      &:before{
        content: url(../img/before-3.png);
        position: absolute;
        left: 0;
        top: 30px;
      }

      span{
        color: #8c8f99;
        font-size: 13px;
        line-height: 25px;
        letter-spacing: -0.13px;
      }

      h4{
        margin: 5px 0 10px;
      }

      p{
        color: #28232d;
        font-size: 13px;
        line-height: 19px;
        letter-spacing: -0.26px;
      }
    }

    .ask-question{
      background-image: url(../img/bg-3.png);
      background-repeat: no-repeat;
      margin-top: 40px;

      section{
        max-width: 60%;
        min-height: 375px;
        text-align: left;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-left: 35px;

        h3{
          color: #28232d;
          text-align: left;
          padding-left: 0;
        }

        a{
          color: #ffffff;
          font-size: 16px;
          line-height: 24px;
          font-family: $fira-sans-bold;
          text-decoration: none;
          background: $light-green;
          max-width: 190px;
          text-align: center;
          padding: 20px 0;
          opacity: 1;
          -webkit-transition: opacity 1s;
          -o-transition: opacity 1s;
          transition: opacity 1s;

          &:hover{
            opacity: 0.7;
          }
        }
      }
    }
  }

  .map-section{
    .header-frame{
      &:before{
        width: 12%;
        left: 28%;
      }

      &:after{
        width: 12%;
        right: 28%;
      }
    }
  }

}
